{% extends "default/telemetry.html.twig" %}

{% block header %}
{% set header_text = 'Since Galette 0.9, we collect anonymous
             <a id="register" href="#" data-toggle="modal" data-target="#json_data_example">data</a> from instance of voluntary users.'
%}
{{ parent() }}
{% endblock %}

{% block content %}
{% set versionchart_text = '<i class="fa fa-exclamation-circle"></i> we don&apos;t have any data for versions prior to 0.9' %}
{{ parent() }}
{% endblock %}
