<?php

return $config = [
    'project' => [
        'name'   => 'Galette',
        'url'    => 'https://galette.eu',
        'footer_links' => [
            'Galette'   => [
                'faclass'   => 'fa fa-globe',
                'url'       => 'https://galette.eu'
            ],
            'Documentation' => [
                'faclass'   => 'fa fa-book',
                'url'       => 'https://doc.galette.eu'
            ],
            'Forums'        => [
                'faclass'   => 'fa fa-comments',
                'url'       => 'https://forums.galette.eu'
            ],
            'Contact'       => [
                'faclass'   => 'fa fa-pencil',
                'url'       => 'http://galette.eu/site/contact'
            ]
        ],
        'schema' => [
            'usage' => false        ],
        'mapping' => [
            'avg_members'       => 'avg_entities',
            'avg_contributions' => 'avg_computers',
            'avg_transactions'  => 'avg_networkequipments'
        ],
        'dyn_references' => [
            'num_members' => [
                'label'         => 'Number of members',
                'short_label'   => '#members'
            ]
        ]
    ],
    'baseurl' => 'https://telemetry.galette.eu',
    'db' => [
        'driver'    => "pgsql",
        'host'      => "localhost",
        'database'  => "galette_telemetry",
        'username'  => "telemetry",
        'password'  => "telemetry",
        'charset'   => 'utf8',
        'collation' => 'utf8_unicode_ci',
        'prefix'    => ''
    ],
    'recaptcha' => [
        'sitekey'   => '',
        'secret'    => ''
    ],
    'mail_admin' => '',
    'mail_from' => 'telemetry+noreply@galette.eu'
];
